# Server
PORT=3001
NODE_ENV=development

# LLM provider keys
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=
XAI_API_KEY=

# Database
# Prisma / Postgres
DATABASE_URL="TRANSACTION_POOLER_CONNECTION_STRING"
DIRECT_URL="DIRECT_CONNECTION_STRING/SESSIONS_POOLER_URL"

# Supabase API / Auth
SUPABASE_URL="PROJECT_URL"
SUPABASE_ANON_KEY="ANON_OR_PUBLISHABLE_KEY"
SUPABASE_SERVICE_ROLE_KEY="SERVICE_ROLE_OR_SECRET_KEY"
